<h1><%= @article.title %></h1>

<p><%= @article.body %></p>

<br>
<p>
	Tags:
	<% if @article.tags.count == 0 %> This article has no tags <% end %>
	<% @article.tags.each do |tag| %>
		<%= link_to tag.name, tag_path(tag) %>
	<% end %>
</p>

<br>
<p>
	<%= link_to "Edit Article", edit_article_path(@article) %><br>
	<%= link_to "Delete Article", article_path(@article), method: :delete, data: {confirm: "Are you sure want to delete this article?"} %> <br>
	<%= link_to "Home", articles_path() %>
</p>

<h3>Comments (<%= @article.comments.size %>)</h3>
<!-- Render a collection of comments, alternative to each loop -->
<%= render partial: 'articles/comment', collection: @article.comments %><br>
<%= render partial: 'comments/form' %>



